.navbar {
	background-color: #BD89BD;
	height: auto;
	margin: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
#Logo-navbar {
	width: 110px;
	height: auto;
}
.logo-rotacion {
	&:hover {
		transform: rotate(20deg);
	}
}
.nav-item {
	a {
		text-decoration: none;
		font-size: 20px;
		color: white;
		font-weight: bolder;
		margin-left: 7px;
		margin-right: 7px;
		text-transform: uppercase;
		text-shadow: 2px 2px 2px #424874;
		&:hover {
			color: #4D0142;
			text-shadow: none;
		}
	}
}
.dropdown-menu {
	background-color: #4D0142;
}
.header-main {
	color: white;
	text-align: center;
	text-shadow: 0 0 5px #000000;
}