.jumbotron {
	background-image: url(../img/cup2.jpg);
	background-size: cover;
	background-position: center;
	height: 450px;
	color: #eaedff;
	text-shadow: 0 0 5px #000000;
	border-radius: 0;
	margin: 0;
}
.btn {
	background-color: #FFC15A;
	color: #ffffff;
	&:hover {
		background-color: #BD89BD;
		opacity: 0.8;
	}
}
.text-index {
	h2 {
		background-color: #BD89BD;
		color: #ffffff;
		text-transform: initial;
		text-align: center;
		text-shadow: 0 0 5px #000000;
		padding: 10px;
	}
}
.galeria {
	padding: 0px;
	margin: 10px;
}
.item {
	height: 600px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item1 {
	background-image: url(../img/green.png);
	background-size: cover;
	background-position: center;
}
.item2 {
	@extend .item1;
	background-image: url(../img/orange.png);
}
.item3 {
	@extend .item1;
	background-image: url(../img/yellow.png);
}
.item4 {
	@extend .item1;
	background-image: url(../img/blue.png);
}