.nleft {
	background-image: url(../img/us.png);
	background-size: cover;
	background-position: center;
	height: 450px;
}
.nright {
	background-color: #4D0142;
	height: 450px;
	padding: 5%;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 0 5px #4D0142;
}