.py-4 {
	background-color: #4D0142;
}
.blends {
	background-color: #4D0142;
}
.text-blends {
	color: #ffffff;
	text-transform: initial;
	text-align: center;
	text-shadow: 0 0 5px #000000;
	padding: 10px;
}
.text-product {
	color: #BD89BD;
	text-transform: initial;
	text-shadow: 0 0 2px #444242;
}
.card-img-top {
	max-height: 250px;
	overflow: hidden;
}
.card-title {
	a {
		&:link {
			font-size: 30px;
			background-color: transparent;
			color: #000000;
			text-decoration: none;
		}
		&:hover {
			color: #4D0142;
			background-color: transparent;
			text-decoration: none;
		}
	}
}